default:
  tags:
    - test
  cache:
    key: "$CI_PROJECT_ID-$CI_COMMIT_REF_SLUG"
stages:
  - build
  - deploy

# build-job-decheck:
#   stage: build
#   script:
#     - npm install 
#     - npm build:env
#     - tar -zcf decheck_dist.tar.gz dist
#     - mv -f decehck_dist.tar.gz /home/web_build_cache/
#   only:
#     - master

deploy-test-decheck:
  stage: deploy
  script:
    - npm install 
    - npm run build:env
    - tar -zcf decheck_dist.tar.gz .output
    - mv -f decehck_dist.tar.gz /home/web_build_cache/
    - rsync -v /home/web_build_cache/decheck_dist.tar.gz   google_host:/home/web/ --progress
    - ssh google_host "rm /home/web/test-decheck/.output -rf && tar -xf /home/web/decheck_dist.tar.gz -C /home/web/test-decheck/"
  only:
    - master
  when: manual

deploy-pro-decheck:
  stage: deploy
  script:
    - npm install 
    - npm run build:prod
    - tar -zcf decheck_dist.tar.gz .output
    - mv -f decehck_dist.tar.gz /home/web_build_cache/
    - rsync -v /home/web_build_cache/decheck_dist.tar.gz   google_host:/home/web/ --progress
    - ssh google_host "rm /home/web/decheck/.output -rf && tar -xf /home/web/decheck_dist.tar.gz -C /home/web/decheck/"
  only:
    - master
  when: manual


