.el-rate__icon{
  font-size: 20px !important;
  margin-right: 3px !important;
}

/* 下拉选择样式 */
.el-input__wrapper{
  height: 3.5rem;
  background: #474174;
  box-shadow: none;
  border-radius: 20px;
}

.el-input__inner{
  color: #fff;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #493d6a;
  border-radius: 0.25rem;
}

.el-select-dropdown__item{
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  margin: 0 0.5rem;
}

.el-popper.is-light{
  background: #322559;
  border: none;
}